@tailwind base;
@tailwind components;
@tailwind utilities;

body.light-theme {
  background-color: white;
  color: black;
}

body.dark-theme {
  background-color: #121212;
  color: white;
}

body {
  overflow-x: hidden;
}